{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="mb-3">Register</div>
    <form action="/register" method="post" onsubmit="return validatePasswords()">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Create username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" id="password" placeholder="Create password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" id="repeated_password" placeholder="Repeat password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register!</button>
    </form>
    <script>
        function validatePasswords() {
            let password = document.getElementById('password').value;
            let repeatedPassword = document.getElementById('repeated_password').value;

            if (password !== repeatedPassword) {
                alert('Passwords do not match. Please re-enter.');
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
    </script>
{% endblock %}
